<div class="modal__hidden">
	<div id="wallet">
		<h1 class="modal__header">Connect wallet</h1>
		<a class="modal__w-link" href="./">
			<span>Metamask</span>
			<img src="./images/ic-metamask.png" alt="">
		</a>
		<a class="modal__w-link" href="./">
			<span>Wallet Connect</span>
			<img src="./images/ic-wconnect.png" alt="">
		</a>
		<a class="modal__w-link" href="./">
			<span>Trust Wallet</span>
			<img src="./images/ic-twallet.png" alt="">
		</a>
		<a class="modal__w-link" href="./">
			<span>MathWallet</span>
			<img src="./images/ic-mwallet.png" alt="">
		</a>
		<a class="modal__w-link" href="./">
			<span>Binance Chain</span>
			<img src="./images/ic-bchain.png" alt="">
		</a>
	</div>
</div>